.news{
	padding : 3px;
	border-radius: 4px 4px 4px 4px;
}

.news .title{
	background-color : #3B80B3;
	color: white;
	border-radius: 4px 4px 0px 0px;
}

.news .title h3{
	margin : 0px;
	margin-left : 10px;
	font-size : 15px;
	line-height : 23px; 
}


.news .text{
	padding : 3px;
	background-color : white;
	padding : 7px 10px 7px 10px;
}

.news .info{
	background-color : #3B80B3;
	color: white;
	text-align: right;
	padding-right: 10px;
	border-radius: 0px 0px 4px 4px;
	font-size : 12px;
}

